.project-text {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 2%;

}

.project-section {
    margin-top: 12%;
}

.project-section .project-text div:first-child {
    width: 45px;
    height: 2px;
    background: green;

}

.project-section .project-text div:nth-child(2) {
    margin-left: 1%;
    margin-right: 1%;
    color: green;
    font-weight: 700;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: large;

}

.project-section .project-text div:last-child {
    width: 45px;
    height: 2px;
    background: green;
}

.section-heading {
    font-size: 20px;
    font-weight: 400;
    text-align: center;
    margin-top: 3%;
}




/* ---------------media query-------------------- */


@media (max-width: 1200px) {
    .project-section .section-img1, .project-section .section-img2, .project-section .section-img3, .project-section .section-img4, .project-section .section-img5 {
        flex-direction: column;
    }

    .project-section .img-div, .project-section .v {
        width: 100%;
    }

    .project-section .line {
        display: none;
    }
}

@media (max-width: 768px) {
    .project-section .project-text, .slide-section .project-text {
        flex-direction: column;
    }

    .project-section .section-img1, .project-section .section-img2, .project-section .section-img3, .project-section .section-img4, .project-section .section-img5 {
        flex-direction: column;
        text-align: center;
    }

    .project-section .img-div, .project-section .v {
        width: 100%;
    }
}